:root {
  --navHeight: 56px;
  --pagePadding: clamp(1rem, 5vw, 4rem);
  --gap: clamp(1rem, 2vw, 2rem);

  --bg: #202020;
  --bgLighter: #303030;
  --bgDarker: #060606;
  --text: white;
  --textSoft: #aaaaaa;
  --soft: #373737;
  --boxShadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;

  --font-serif: "Roboto Slab", serif;
  --font-mono: "Courier New", Courier, monospace;
}
