---
import type { CollectionEntry } from "astro:content";
import formatDate from "../utils/formatDate";
interface Props {
  experience: CollectionEntry<"experience">;
}

const { experience } = Astro.props;

const { Content } = await experience.render();
const { position, organization, location, date_beg, date_end } =
  experience.data;

import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
---

<Card>
  <CardHeader>
    <CardTitle>
      {position}<span class="font-medium"> |&nbsp{organization}</span>
    </CardTitle>
    <CardDescription>
      <em>
        {formatDate(date_beg)} - {date_end ? formatDate(date_end) : "present"} |
        {location}
      </em>
    </CardDescription>
  </CardHeader>
  <CardContent>
    <Content />
  </CardContent>
</Card>
