---
import TagList from "./TagList.jsx";
import Layout from "../layouts/Layout.astro";
import Markdown from "../layouts/Markdown.astro";
import Experience from "./ExperienceList.astro";

import skills from "../data/skills.json";
import { getCollection, getEntryBySlug } from "astro:content";

const {
  data: { items: interests },
} = await getEntryBySlug("taglists", "interests");
---

<Markdown>
  <h2>About</h2>
  <p>
    Mechanical engineer turned software engineer with experience in self-started
    coding initiatives and additional education in full stack web development.
    Proven ability to optimize conventional engineering tasks and boost
    efficiency through the application of innovative solutions.
  </p>

  <h2>Experience</h2>
  <Experience />

  <h2>Technologies</h2>
  {
    skills.map((skill) => (
      <>
        <strong class="font-bold py-1">{skill.name}</strong>
        <TagList tags={skill.items} />
      </>
    ))
  }

  <h2>Interests</h2>
  <TagList tags={interests} />
</Markdown>
