---
import { buttonVariants } from "@/components/ui/button";
import RootLayout from "../layouts/root-layout.astro";
---

<RootLayout>
  <div class="flex flex-col items-center gap-8 pt-24">
    <h1 class="text-3x pb-8">Uh-oh! Page does not exist</h1>
    <a href="/" class={buttonVariants({ variant: "invert", size: "lg" })}>
      Home
    </a>
  </div>
</RootLayout>
