---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import ProjectList from "../components/ProjectList.astro";
import Title from "../components/Title.astro";
import Markdown from "../layouts/Markdown.astro";
import Html from "../layouts/Html.astro";

const projects = await Astro.glob("./projects/*.md");
---

<Html>
  <Hero />
  <Layout>
    <Title text="About" />
    <Markdown>
      <p>Riley is an engineer and web developer</p>
      <p>He like to build website</p>
    </Markdown>
    <Title text="Projects" />
    <ProjectList projects={projects} />
    <Title text="Experience" />
  </Layout>
</Html>
