---
import ProjectCard from "../components/project-card.astro";
import { type CollectionEntry, getCollection } from "astro:content";
import MainLayout from "@/layouts/main-layout.astro";

const projects = await getCollection(
  "projects",
  ({ data }) => data.draft !== true,
);
const sortProjectsDate = (
  a: CollectionEntry<"projects">,
  b: CollectionEntry<"projects">,
) => Date.parse(b.data.date) - Date.parse(a.data.date);
---

<MainLayout>
  <div class="columns-2xs gap-4">
    {
      projects
        .sort(sortProjectsDate)
        .map((project) => <ProjectCard project={project} />)
    }
  </div>
</MainLayout>
