---
import Layout from "../layouts/Layout.astro";
import ProjectCard from "../components/ProjectCard.astro";
import Resume from "../components/Resume.astro";
import { getCollection } from "astro:content";

const projects = await getCollection(
  "projects",
  ({ data }) => data.draft !== true
);
const sortProjects = (a, b) =>
  Date.parse(b.data.date) - Date.parse(a.data.date);
---

<Layout>
  <header class="py-12 flex justify-center">
    <div class="flex items-center gap-4">
      <img class="h-24 md:h-32 w-auto" src="/logo.svg" alt="" />
      <div>
        <h1 class="text-3xl md:text-5xl font-bold mb-2">Riley Paul</h1>
        <p class="text-lg md:text-2xl font-light">
          Engineer-In-Training / Web Developer
        </p>
      </div>
    </div>
  </header>

  <main x-data="{page: 0}">
    <!-- Page switcher -->
    <div class="flex gap-4 justify-between pb-4">
      <button
        class="btn px-4 transition-all duration-100"
        x-bind:class="page === 0 ? 'flex-1 invert' : ''"
        x-on:click="page = 0">Projects</button
      >
      <button
        class="btn px-4 transition-all duration-100"
        x-bind:class="page === 1 ? 'flex-1 invert' : ''"
        x-on:click="page = 1">Resume</button
      >
    </div>
    <!-- <div class="text-2xl font-bold bg-slate-700 text-gray-200 text-center py-1 rounded">Projects</div> -->
    <div id="projest-list" class="divide-y" x-show="page === 0">
      {
        projects
          .sort(sortProjects)
          .map((project) => <ProjectCard project={project} />)
      }
    </div>
    <div id="resume-container" x-show="page === 1">
      <Resume />
    </div>
  </main>
</Layout>
