---
import Layout from "../layouts/Layout.astro";
import ProjectCard from "../components/ProjectCard";
import { type CollectionEntry, getCollection } from "astro:content";
import MainLayout from "@/layouts/MainLayout.astro";

const projects = await getCollection(
  "projects",
  ({ data }) => data.draft !== true
);
const sortProjects = (
  a: CollectionEntry<"projects">,
  b: CollectionEntry<"projects">
) => Date.parse(b.data.date) - Date.parse(a.data.date);
---

<MainLayout>
  <div class="columns-xs gap-4">
    {
      projects
        .sort(sortProjects)
        .map((project) => <ProjectCard project={project} />)
    }
  </div>
</MainLayout>
