---
import Layout from "../layouts/Layout.astro";
import ProjectCard from "../components/ProjectCard.astro";
import { CollectionEntry, getCollection } from "astro:content";
import Header from "@/components/Header.astro";
import NavBar from "@/components/NavBar.astro";

const projects = await getCollection(
  "projects",
  ({ data }) => data.draft !== true
);
const sortProjects = (
  a: CollectionEntry<"projects">,
  b: CollectionEntry<"projects">
) => Date.parse(b.data.date) - Date.parse(a.data.date);
---

<Layout>
  <Header />
  <NavBar />

  <div class="columns-xs gap-4">
    {
      projects
        .sort(sortProjects)
        .map((project) => <ProjectCard project={project} />)
    }
  </div>
</Layout>
