---
import ProjectList from "../components/ProjectList.astro";
import ExperienceList from "../components/ExperienceList.astro";
import TagList from "../components/TagList.astro";

import Layout from "../layouts/Layout.astro";
import Markdown from "../layouts/Markdown.astro";

const projects = await Astro.glob("./projects/*.md");
import skills from "../data/skills.json";
---

<Layout>
  <section id="section-hero" class="h-screen">
    <h1 class="font-mono mb-0 text-5xl">
      Hi, I'm <span class="text-orange-600">Riley</span>
    </h1>
    <h3 class="mb-12">engineer / web developer</h3>

    <Markdown>
      <p>Are you searching for a motivated indidual for your project?</p>
      <p>
        An individual with proven experience optimizing engineering workflows?
      </p>
    </Markdown>

  </section>

  <section id="section-projects" class="-skew-y-3 bg-sky-600">
    <div class="skew-y-3">
      <h1>./projects</h1>
      <ProjectList projects={projects} />
    </div>
  </section>

  <section id="section-skills" class="-skew-y-3 bg-orange-600 text-slate-900">
    <div class="skew-y-3">
      <h1 class="">./about/tech</h1>
      <p>I am always looking ro improve my</p>
      <h2>What's in my tech stack?</h2>
      {
        skills.map((skill) => (
          <div class="py-1">
            <h3>{skill.name}</h3>
            <TagList tags={skill.tags} classes="text-orange-500 bg-slate-900" />
          </div>
        ))
      }
    </div>
  </section>

  <section id="section-experience">
    <h1>./about/experience</h1>
    <ExperienceList />
  </section>

  <style is:global>
    @tailwind base;
    @tailwind components;
    @tailwind utilities;

    @layer components {
      section {
        @apply py-8 px-4;
      }

      h1 {
        @apply mt-12 mb-8 text-4xl font-bold;
      }

      h2 {
        @apply mt-4 mb-2 text-2xl font-bold;
      }

      h3 {
        @apply mt-2 mb-2 font-bold;
      }

      p {
        @apply mb-4;
      }
    }
  </style>
</Layout>
