---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="" style="height: calc(100vh - 12rem);">
    <h1 class="text-center text-5xl py-12">Riley Paul</h1>
    <div class="flex justify-center">
      <button class="border-2 px-2 py-1 rounded text-lg"
        ><a href="/projects">View Projects</a>
      </button>
    </div>
  </div>
</Layout>
