---
import TagList from "../components/TagList.astro";
import skills from "../data/skills.json";
import Layout from "../layouts/Layout.astro";
import Markdown from "../layouts/Markdown.astro";
---

<Layout>
  <Markdown>
    <p>
      I have accumulated a great deal of skills and knowledge over the years in
      a variety of subjects and technologies. This is because I love to learn
      and am always seeking the best tool for the job.
    </p>
    <p>For every skill I gain, I find two more I am lacking in.</p>
  </Markdown>
  <div class="py-1">
    {
      skills.map((skill) => (
        <div class="py-1">
          <h3 class="font-bold py-1">{skill.name}</h3>
          <TagList tags={skill.tags} />
        </div>
      ))
    }
  </div>
</Layout>
