---
import TagList from "../components/TagList.astro";
import Layout from "../layouts/Layout.astro";
import Markdown from "../layouts/Markdown.astro";

async function getSkills() {
  const data = await Astro.glob("../data/skills.md");
  const frontmatter = data[0].frontmatter;
  const transformed = Object.keys(frontmatter).map((key) => ({
    name: key,
    tags: frontmatter[key],
  }));
  return transformed;
}

const skills = await getSkills()
---

<Layout title="Skills">
  <div class="py-1">
    {
      skills.map((skill) => (
        <div class="py-1">
          <h3 class="font-bold py-1">{skill.name}</h3>
          <TagList tags={skill.tags} />
        </div>
      ))
    }
  </div>
</Layout>
