---
import ThreeDimModel from "@/components/ThreeDimModel";
import RootLayout from "@/layouts/root-layout.astro";
---

<RootLayout>
  <h1>React 3 Fiber testing</h1>
  <ThreeDimModel client:load />
</RootLayout>
