---
const { icon = "", text = "", link } = Astro.props;
---

<button class="px-2 py-1 rounded border-2 text-lg">
  <a href={link} target="_blank" rel="noopener noreferrer">
    {icon && <i class={icon} />}
    {text && text}
  </a>
</button>
