---
interface Props {
  link?: string;
  icon?: string;
  text?: string;
  newTab?: boolean;
}

const { icon = "", text = "", link, newTab } = Astro.props;
---

<button class="px-2 py-1 rounded border-2 text-lg">
  <a
    href={link}
    target={newTab ? "_blank" : ""}
    rel={newTab ? "noopener noreferrer" : ""}
  >
    {icon && <i class={icon} />}
    {text && text}
    <slot />
  </a>
</button>
