---
interface Props {
  link?: string;
  icon?: string;
  text?: string;
  title?: string;
  newTab?: boolean;
}

const { icon = "", text = "", title, link, newTab } = Astro.props;
const justIcon = icon && !text;
---

<button class={"btn " + (justIcon ? "aspect-square " : "")}>
  <a
    href={link}
    target={newTab ? "_blank" : ""}
    rel={newTab ? "noopener noreferrer" : ""}
    title={title}
  >
    {icon && <i class={icon} />}
    {text && text}
    <slot />
  </a>
</button>
