---
const { experiences } = Astro.props;
---

<div id="tab-wrapper" x-data="{tab:0}" class="border-2 rounded-lg">
  <!-- tabs navigation -->
  <div class="flex m-0 cursor-pointer md:overflow-hidden">
    {
      experiences.map((experience, index) => (
        <div
          x-bind:class={`{'font-bold text-orange-500': tab === ${index}}`}
          x-on:click={`tab = ${index}`}
          class="py-2 px-5 mt-0 border-b-2 flex-grow text-center"
        >
          {experience.frontmatter.title}
        </div>
      ))
    }
  </div>

  <!-- tabs content -->
  {
    experiences.map((experience, index) => (
      <div
        x-show={`tab === ${index}`}
        class="p-5 prose prose-invert prose-sm max-w-none prose-headings:my-0 prose-li:my-0 prose-p:my-0 prose-ul:my-0 prose-h2:mt-4"
      >
        <experience.Content />
      </div>
    ))
  }
</div>
