---
import type { CollectionEntry } from "astro:content";
import formatDate from "../utils/formatDate";
interface Props {
  experience: CollectionEntry<"experience">;
}

const { experience } = Astro.props;

const { Content } = await experience.render();
const { position, organization, location, date_beg, date_end } =
  experience.data;
---

<div><strong>{position} |&nbsp</strong>{organization}</div>
<div>
  <em>
    {formatDate(date_beg)} - {date_end ? formatDate(date_end) : "present"} | {
      location
    }
  </em>
</div>
<Content />
