---
import data from "../data/contact.json";
---

<footer
  id="footer"
  class="h-24 flex flex-row justify-center items-center gap-4"
>
  <div class="flex flex-row flex-wrap justify-center items-center gap-4">
    {
      data.map((contact) => (
        <a
          class="border-2 px-2 py-1 rounded"
          href={contact.link}
          target="_blank"
          rel="noopener noreferrer"
        >
          <i class={contact.icon} />
        </a>
      ))
    }
  </div>
  <div class="hidden md:block">
    &copy <span>{new Date().getFullYear()}</span> Riley Paul
  </div>
</footer>
