---
import { getCollection } from "astro:content";
import { buttonVariants } from "./ui/button";

import { contactMethods } from "@/lib/config";
---

<footer
  id="footer"
  class="py-6 flex flex-col justify-center items-center gap-2"
>
  <div class="flex flex-row flex-wrap justify-center items-center gap-4">
    {
      contactMethods.map((c) => (
        <a
          href={c.link}
          target="_blank"
          class={buttonVariants({ variant: "invert", size: "icon" })}
        >
          <c.Icon className="h-4 w-4" />
        </a>
      ))
    }
  </div>
  <div class="flex gap-2">
    <a
      href="/Resume - Riley Paul.pdf"
      title="Download resume as PDF"
      class="hover:opacity-100 opacity-60">Resume.pdf</a
    >•<a
      href="https://photo.rileypaul.ca"
      title="Photography Portfolio"
      class="flex items-center gap-1 hover:opacity-100 opacity-60"
      target="_blank"
      rel="noopener noreferrer"
    >
      <!-- <img src="/photo-logo.svg" alt="" class="invert h-5" /> -->Photography
    </a>
  </div>
  <span class="opacity-50 text-sm"
    >&copy <span>{new Date().getFullYear()}</span> Riley Paul</span
  >
</footer>
