---
import data from "../data/contact.json";
import Button from "./Button.astro";
---

<footer
  id="footer"
  class="h-24 flex flex-row justify-center items-center gap-4"
>
  <div class="flex flex-row flex-wrap justify-center items-center gap-4">
    {data.map((contact) => <Button icon={contact.icon} link={contact.link} />)}
  </div>
</footer>
