---
import data from "../data/contact.json";
const contacts = [
  ...data,
  { link: undefined, name: `© ${new Date().getFullYear()} Riley Paul` },
];
---

<div class="w-full flex flex-wrap justify-center items-center gap-3 p-6">
  {
    contacts.map((contact) => (
      <a
        class="text-neutral-500"
        href={contact.link}
        target="_blank"
        rel="noopener noreferrer"
      >
        {contact.name}
      </a>
    ))
  }
</div>
