---
import { Heading, Text } from "@radix-ui/themes";
import Logo from "./logo.astro";
---

<header class="pt-16 pb-8 bg-background">
  <div class="container2 flex justify-center">
    <div class="flex items-center gap-4">
      <Logo />
      <div>
        <Heading
          className="text-4 leading-4 line md:text-9 md:leading-9 mb-3"
          >Riley Paul</Heading
        >
        <Text className="text-4 md:text-6 md:leading-6" color="gray">
          Full-Stack Software Developer
        </Text>
      </div>
    </div>
  </div>
</header>
