<header class="py-12 flex justify-center">
  <a href="/">
    <div class="flex items-center gap-4">
      <img class="h-24 md:h-32 w-auto" src="/logo.svg" alt="" />
      <div>
        <h1 class="text-3xl md:text-5xl font-bold mb-2">Riley Paul</h1>
        <p class="text-lg md:text-2xl font-light">
          Engineer-In-Training / Web Developer
        </p>
      </div>
    </div>
  </a>
</header>