---
import Logo from "./Logo.astro";
---

<header class="pt-16 pb-8 bg-background">
  <div class="container2 flex justify-center">
    <div class="flex items-center gap-4">
      <Logo />
      <div>
        <h1 class="text-3xl md:text-5xl font-bold mb-2">Riley Paul</h1>
        <p class="text-lg md:text-2xl text-muted-foreground">
          Full-Stack Software Developer
        </p>
      </div>
    </div>
  </div>
</header>
