---
import { Heading, Text } from "@radix-ui/themes";
import Logo from "./logo.astro";
---

<header class="pt-16 pb-8 bg-background">
  <div class="container2 flex justify-center">
    <div class="flex items-center gap-4">
      <Logo />
      <div>
        <Heading className="text-3xl md:text-5xl font-bold mb-2"
          >Riley Paul</Heading
        >
        <Text className="text-lg md:text-2xl" color="gray">
          Full-Stack Software Developer
        </Text>
      </div>
    </div>
  </div>
</header>
