<div class="h-screen bg-red-600 items-center flex pl-10">
  <ul class="">
    <li class="font-serif text-7xl md:text-9xl">Riley Paul</li>
    <li class="font-mono text-2xl md:text-xl text-right">Engineer / Web Developer</li>
  </ul>
</div>
