---
import { buttonVariants } from "./ui/button";
import { cn } from "@/lib/utils";
import { getProjectLink } from "@/content/utils/project-links";

interface Props {
  links: { type: string; url: string }[];
}

const { links = [] } = Astro.props;
---

{
  links && (
    <div class="flex gap-2">
      {links
        .map((link) => ({ ...link, ...getProjectLink(link.type) }))
        .map((link) => (
          <a
            href={link.url}
            target="_blank"
            rel="noopener noreferrer"
            class={cn(buttonVariants({ variant: "link" }))}
          >
            <link.Icon className="h-4 w-4 mr-2" />
            {link.name}
          </a>
        ))}
    </div>
  )
}
