---
import { getProjectLink } from "@/lib/utils/project-links";

interface Props {
  links: { type: string; url: string }[];
}

const { links = [] } = Astro.props;
---

{
  links && (
    <div class="flex flex-wrap">
      {links
        .map((link) => {
          const linkType = getProjectLink(link.type);
          return { ...link, ...linkType };
        })
        .map((link) => (
          <a
            href={link.url}
            target="_blank"
            rel="noopener noreferrer"
            class="btn btn-ghost link-hover"
          >
            <link.Icon className="size-4" />
            {link.name}
          </a>
        ))}
    </div>
  )
}
