---
import { Button } from "./ui/button";

const { links } = Astro.props;

const iconMap = {
  source: {
    name: "Source Code",
    icon: "fa-brands fa-github",
  },
  home: {
    name: "Homepage",
    icon: "fa-solid fa-link",
  },
};
---

<div class="flex flex-wrap gap-2 my-2">
  {
    links.map((link) => (
      <a href={link.url} target="_blank" rel="noopener noreferrer">
        <Button>
          <i class={iconMap[link.type].icon + " mr-2"} />
          {iconMap[link.type].name}
        </Button>
      </a>
    ))
  }
</div>
