---
import { Button } from "./ui/button";

type Icon = {
  name: string;
  icon: string;
};

type IconMap = {
  source: Icon;
  home: Icon;
};

const iconMap: IconMap = {
  source: {
    name: "Source Code",
    icon: "fa-brands fa-github",
  },
  home: {
    name: "Homepage",
    icon: "fa-solid fa-link",
  },
};

type Link = {
  url: string;
  type: keyof IconMap;
};

interface Props {
  links: Link[];
}

const { links } = Astro.props;
---

<div class="flex gap-2 my-2">
  {
    links.map((link) => (
      <a href={link.url} target="_blank" rel="noopener noreferrer">
        <Button className="text-sky-500 hover:text-sky-400" variant="outline">
          <i class={`${iconMap[link.type].icon} mr-2`} />
          {iconMap[link.type].name}
        </Button>
      </a>
    ))
  }
</div>
