---
import { buttonVariants } from "./ui/button";
import { cn } from "@/lib/utils";

interface Link {
  name: string;
  href: string;
  active: (pathname: string) => boolean;
}

const links: Link[] = [
  {
    name: "Projects",
    href: "/",
    active: (pathname: string) =>
      pathname.startsWith("/projects") || pathname === "/",
  },
  {
    name: "Resume",
    href: "/resume",
    active: (pathname: string) => pathname.startsWith("/resume"),
  },
];
---

<div
  class="pb-8 pt-4 w-full sticky top-0 z-50 bg-linear-to-b from-background to-transparent"
>
  <div class="container2 flex gap-4 justify-between">
    {
      links.map((link) => (
        <a
          href={link.href}
          class={cn(
            link.active(Astro.url.pathname) ? "flex-1" : "",
            buttonVariants({
              size: "lg",
              variant: link.active(Astro.url.pathname) ? "default" : "invert",
            })
          )}
        >
          {link.name}
        </a>
      ))
    }
  </div>
</div>
