---
import { buttonVariants } from "./ui/button";
import { cn } from "@/utils/utils";

interface Link {
  name: string;
  href: string;
  active: (pathname: string) => boolean;
}

const links: Link[] = [
  {
    name: "Projects",
    href: "/",
    active: (pathname: string) =>
      pathname.startsWith("/projects") || pathname === "/",
  },
  {
    name: "Resume",
    href: "/resume",
    active: (pathname: string) => pathname.startsWith("/resume"),
  },
];

const currentPath = Astro.url.pathname;
---

<div
  class="flex gap-4 justify-between pb-8 pt-4 w-full sticky top-0 z-50"
>
  {
    links.map((link) => (
      <a
        href={link.href}
        class={cn(
          link.active(Astro.url.pathname) ? "flex-1" : "",
          buttonVariants({
            size: "lg",
            variant: link.active(Astro.url.pathname) ? "default" : "invert",
          })
        )}
      >
        {link.name}
      </a>
    ))
  }
</div>
