---
import { Button } from "./ui/button";

const links = [
  { name: "Projects", href: "/" },
  { name: "Resume", href: "/resume" },
];

const currentPath = Astro.url.pathname;
---

<div class="flex gap-4 justify-between pb-4 w-full">
  {
    links.map((link) => {
      const active =
        currentPath === link.href || currentPath === link.href + "/";
      return (
        <a href={link.href} class={active ? "flex-1" : ""}>
          <Button
            variant={active ? "default" : "invert"}
            size="lg"
            className="w-full"
          >
            {link.name}
          </Button>
        </a>
      );
    })
  }
</div>
