---
const pathname = Astro.url.pathname;
const currentPath = pathname.slice(1);
---

<nav
  class="w-full fixed top-0 bg-slate-900"
  x-data="{open: false}"
  x-bind:class="{'shadow':open}"
>
  <div class="flex flex-row items-center justify-center">
    <a
      class:list={["link-underline", { active: currentPath === "" }, "p-6"]}
      x-bind:class="{'hide':open}"
      href="/">Home</a
    >
    <a
      class:list={[
        "link-underline",
        { active: currentPath === "projects" },
        "p-6",
      ]}
      x-bind:class="{'hide':open}"
      href="/projects">Projects</a
    >
    <a
      class="link-underline p-6"
      href="#"
      x-bind:class="{'active': open }"
      x-on:click="open = !open">More</a
    >
  </div>
  <div x-show="open" x-transition class="flex flex-col margin-auto max-w-sm">
    <a class:list={[{ "font-bold": currentPath === "about" }]} href="/about"
      >About</a
    >
    <a
      class:list={[{ "font-bold": currentPath === "experience" }]}
      href="/experience">Experience</a
    >
    <a class:list={[{ "font-bold": currentPath === "skills" }]} href="/skills"
      >Skills</a
    >
    <a href="https://photo.rileypaul.ca">Photography</a>
    <a href="/Resume - Riley Paul.pdf">Resume</a>
  </div>
</nav>

<style>
  .link-underline {
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent),
      linear-gradient(#fff, #fff);
    background-size: 0 3px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    /* transition: background-size 0.5s ease-in-out; */
  }

  .link-underline-black {
    background-image: linear-gradient(transparent, transparent),
      linear-gradient(#f2c, #f2c);
  }

  .link-underline:hover {
    background-size: 100% 3px;
    background-position: 0 100%;
  }

  .link-underline.active {
    background-size: 100% 3px;
    background-position: 0 100%;
  }

  .link-underline.hide {
    background-size: 0% 3px;
  }
</style>
