---
import TagList from "./TagList.astro";

const { projects } = Astro.props;
---

<div class="border-2 px-5 divide-y rounded-md">
  {
    projects.map((project) => (
      <div class="pt-4 pb-6 hover:text-sky-300">
        <a href={project.url} class="">
          <h2 class="mt-0">{project.frontmatter.title}</h2>
          <TagList tags={project.frontmatter.tags} />
        </a>
      </div>
    ))
  }
</div>
