---
import TagList from "./TagList.astro";

const { projects } = Astro.props;
---

<div class="border-2 px-5 divide-y rounded-md">
  {
    projects.map((project) => (
      <div class="pt-4 pb-6 hover:text-orange-500">
        <a href={project.url} class="">
          <h2 class="my-0">{project.frontmatter.title}</h2>
          <p class="my-0 pb-2">{project.frontmatter.description}</p>
          <TagList tags={project.frontmatter.tags} classes="bg-gray-100 text-sky-500"/>
        </a>
      </div>
    ))
  }
</div>
