---
import TagList from "./TagList.astro";
const { project } = Astro.props;
---

<div class="pt-4 pb-6">
  <a href={project.url} class="">
    <h2 class="text-lg font-bold">{project.frontmatter.title}</h2>
    <p class="pb-2 font-light">{project.frontmatter.description}</p>
    <TagList tags={project.frontmatter.tags} classes="" />
  </a>
</div>
