---
const { tags = [] } = Astro.props;
---

<div class="flex flex-wrap gap-2 my-2">
  {
    tags.map((tag) => (
      <div class="px-2 py-1 text-sm rounded bg-slate-700 text-gray-200">
        {tag}
      </div>
    ))
  }
</div>
