---
const { tags } = Astro.props;
---

<div class="flex gap-3 flex-wrap">
  {
    tags.map((tag) => (
      <div class="text-sm px-3 py-0 rounded-full bg-neutral-100 text-neutral-500 shadow">
        {tag}
      </div>
    ))
  }
</div>