---
const { tags, colours = {} } = Astro.props;
const bg = "bg-" + (colours.bg || "sky-800");
const text = "text-" + (colours.text || "gray-50");

const classes = `${text} ${bg} px-2 py-1 rounded font-bold`;
---

<div class="flex flex-wrap gap-2">
  {tags.map((tag) => <div class={classes}>{tag}</div>)}
</div>
