---
import Layout from "../../layouts/Layout.astro";
import ProjectCard from "../../components/ProjectCard.astro";

const projects = await Astro.glob("./*.md");
const sortProjects = (a, b) =>
  Date.parse(b.frontmatter.date) - Date.parse(a.frontmatter.date);
---

<Layout title="Projects">
  <div class="divide-y">
    {
      projects
        .filter((project) => !project.frontmatter.draft)
        .sort(sortProjects)
        .map((project) => <ProjectCard project={project} />)
    }
  </div>
</Layout>
