---
import Layout from "../layouts/Layout.astro";
import ProjectCard from "../components/ProjectCard.astro";
import Resume from "../components/Resume.astro";
import { getCollection } from "astro:content";
import Header from "@/components/Header.astro";
import { Button } from "@/components/ui/button";
import NavBar from "@/components/NavBar.astro";

const projects = await getCollection(
  "projects",
  ({ data }) => data.draft !== true
);
const sortProjects = (a, b) =>
  Date.parse(b.data.date) - Date.parse(a.data.date);
---

<Layout>
  <Header />
  <NavBar />

  <div id="projest-list" class="columns-xs gap-4" x-show="page === 0">
    {
      projects
        .sort(sortProjects)
        .map((project) => <ProjectCard project={project} />)
    }
  </div>
</Layout>
