@import "tailwindcss/base";
@import "@radix-ui/themes/styles.css";

@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Menlo;
  src: url("/fonts/Menlo-Regular.woff");
}

.radix-themes {
  --cursor-button: pointer;
  --cursor-checkbox: pointer;
  --cursor-disabled: default;
  --cursor-link: pointer;
  --cursor-menu-item: pointer;
  --cursor-radio: pointer;
  --cursor-slider-thumb: grab;
  --cursor-slider-thumb-active: grabbing;
  --cursor-switch: pointer;

  --default-font-family: "Noto Sans Variable", sans-serif;
}

@layer base {
  * {
    @apply border-gray-6;
  }
  html,
  body {
    background-color: #0F1B1B;
    scroll-gutter: static right;
    @media (prefers-color-scheme: dark) {
      color-scheme: dark;
    }
  }

  .container2 {
    @apply max-w-screen-md mx-auto px-4;
  }

  .iframe-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin-top: 1rem;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  }

  .iframe-container.model {
    padding-top: 100%;
  }

  /* Then style the iframe to fit in the container div with full height and width */
  .iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}
