@import "tailwindcss";
@plugin "@tailwindcss/typography";

@layer utilities {
  .container2 {
    @apply mx-auto w-full max-w-5xl px-4 sm:px-8;
  }

  .iframe-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin-top: 1rem;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  }

  .iframe-container.model {
    padding-top: 100%;
  }

  /* Then style the iframe to fit in the container div with full height and width */
  .iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}

@theme inline {
  --font-sans: "Figtree Variable", sans-serif;
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  color-scheme: light;
  --gradient: #304352;
  --background: hsl(219 96.3% 98.5%);
  --foreground: hsl(219 2.6% 1%);

  --muted: hsl(219 2.6% 92.5%);
  --muted-foreground: hsl(219 1.3% 42.5%);

  --popover: hsl(219 68.16% 97%);
  --popover-foreground: hsl(219 2.6% 1.25%);

  --card: hsl(219 68.16% 97%);
  --card-foreground: hsl(219 2.6% 1.25%);

  --border: hsl(219 7.6% 90%);
  --input: hsl(219 7.6% 90%);

  --primary: hsl(219 26% 25%);
  --primary-foreground: hsl(219 0.52% 92.5%);

  --secondary: hsl(219 20.8% 87.25%);
  --secondary-foreground: hsl(219 2.56% 12.5%);

  --accent: hsl(219 20.8% 87.25%);
  --accent-foreground: hsl(219 2.56% 12.5%);

  --destructive: hsl(0 84.2% 60.2%);
  --destructive-foreground: hsl(0 0% 98%);

  --ring: hsl(219 26% 25%);

  --radius: 0.625rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --gradient: #b2fefa;

    --background: hsl(188 63.05% 6.8%);
    --foreground: hsl(188 9.7% 99.25%);

    --muted: hsl(188 48.5% 25.5%);
    --muted-foreground: hsl(188 9.7% 65%);

    --popover: hsl(188 45.6% 11.049999999999999%);
    --popover-foreground: hsl(188 9.7% 99.25%);

    --card: hsl(188 45.6% 11.049999999999999%);
    --card-foreground: hsl(188 9.7% 99.25%);

    --border: hsl(188 48.5% 25.5%);
    --input: hsl(188 48.5% 25.5%);

    --primary: hsl(188 97% 85%);
    --primary-foreground: hsl(188 9.7% 8.5%);

    --secondary: hsl(188 48.5% 25.5%);
    --secondary-foreground: hsl(188 9.7% 99.25%);

    --accent: hsl(188 48.5% 25.5%);
    --accent-foreground: hsl(188 9.7% 99.25%);

    --destructive: hsl(0 62.8% 30.6%);
    --destructive-foreground: hsl(188 9.7% 99.25%);

    --ring: hsl(188 97% 85%);
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
