@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Menlo;
  src: url("/fonts/Menlo-Regular.woff");
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 72.22% 50.59%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
  .theme-custom {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: #37ecba;

    --background: 174 53.949999999999996% 4.56%;
    --foreground: 174 8.299999999999999% 97.85%;

    --muted: 174 41.5% 17.099999999999998%;
    --muted-foreground: 174 8.299999999999999% 55.7%;

    --popover: 174 48.400000000000006% 7.409999999999999%;
    --popover-foreground: 174 8.299999999999999% 97.85%;

    --card: 174 48.400000000000006% 7.409999999999999%;
    --card-foreground: 174 8.299999999999999% 97.85%;

    --border: 174 41.5% 17.099999999999998%;
    --input: 174 41.5% 17.099999999999998%;

    --primary: 174 83% 57%;
    --primary-foreground: 174 8.299999999999999% 5.699999999999999%;

    --secondary: 174 41.5% 17.099999999999998%;
    --secondary-foreground: 174 8.299999999999999% 97.85%;

    --accent: 174 41.5% 17.099999999999998%;
    --accent-foreground: 174 8.299999999999999% 97.85%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 174 8.299999999999999% 97.85%;

    --ring: 174 83% 57%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: Menlo, monospace;
    line-height: 1.725;
    font-size: 14px;
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;

    scroll-gutter: static right;
  }

  .iframe-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin-top: 1rem;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  }

  .iframe-container.model {
    padding-top: 100%;
  }

  /* Then style the iframe to fit in the container div with full height and width */
  .iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}
