@tailwind base;
@tailwind components;
@tailwind utilities;

/*
    https://github.com/tailwindlabs/tailwindcss/discussions/2394
    https://github.com/tailwindlabs/tailwindcss/pull/5732
*/

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .invert {
    @apply bg-primary text-background font-bold;
  }
}

@layer components {
  .hover-invert {
    @apply hover:invert transition-colors;
  }

  .btn {
    @apply px-2 py-1 rounded border-2 text-lg hover-invert;
  }
}
