---
import Footer from "../components/Footer.astro";
import NavBar from "../components/Navbar";
import Html from "./Html.astro";

const { title } = Astro.props;
---

<Html title={title}>
  <NavBar client:load />
  <main class="mt-20 w-full pt-8 pb-32 px-4 mx-auto max-w-3xl 2xl:max-w-6xl">
    <slot />
  </main>
  <Footer />
</Html>
