---
import Footer from "../components/Footer.astro";
import Html from "./Html.astro";
---

<Html>
  <main class="w-full pt-8 pb-32 px-4 mx-auto max-w-3xl 2xl:max-w-6xl">
    <slot />
  </main>
  <Footer />
</Html>
