---
import Layout from "../layouts/Layout.astro";
import Header from "@/components/Header.astro";
import NavBar from "@/components/NavBar.astro";
---

<Layout>
  <Header />
  <NavBar />
  <div class="container">
    <slot />
  </div>
</Layout>
