---
import RootLayout from "./root-layout.astro";
import Header from "@/components/Header.astro";
import NavBar from "@/components/NavBar.astro";
---

<RootLayout>
  <Header />
  <NavBar />
  <div class="container2">
    <slot />
  </div>
</RootLayout>
