---
import Layout from "./Layout.astro";
const { title, tags, homepage, source } = Astro.props.frontmatter;
---

<Layout>
  <h1>{title}</h1>
  {
    homepage && (
      <a href={homepage} target="_blank" rel="noopener noreferrer">
        Homepage
      </a>
    )
  }
  {
    source && (
      <a href={source} target="_blank" rel="noopener noreferrer">
        Source
      </a>
    )
  }
  <div class="tags">{tags.map((tag) => <div class="tag">{tag}</div>)}</div>
  <slot />
</Layout>

<style>
  .tags {
    display: flex;
    gap: 10px;
  }
  
  .tag {
    font-size: smaller;
    background-color: var(--bgDarker);
    font-family: var(--font-mono);
    
    padding: 3px 10px;
    border-radius: 20px;
  }
</style>
