---
import IconLink from "../components/IconLink.astro";
import TagList from "../components/TagList.astro";
import Layout from "./Layout.astro";
const { title, tags, homepage, source } = Astro.props.frontmatter;
---

<Layout>
  <div class="flex p-2 gap-2">
    {homepage && <IconLink url={homepage.link} />}
    {source && <IconLink url={source.link} icon="fa-solid fa-code" />}
  </div>
  <TagList tags={tags} />
  <article class="mt-4">
    <h1>{title}</h1>
    <slot />
  </article>
</Layout>
