---
import type { MarkdownLayoutProps } from "astro";
import LinkList from "../components/LinkList.astro";

type Props = MarkdownLayoutProps<{
  title: string;
  tags: Array<{ string }>;
  links: Array<{ url: string; name: string; icon: string }>;
  description: string;
  date: string;
}>;

import TagList from "../components/TagList.astro";
import Layout from "./Layout.astro";
import Markdown from "./Markdown.astro";
import Button from "../components/Button.astro";
const { title, tags, links } = Astro.props.frontmatter;
---

<Layout title={title}>
  <h1 class="text-4xl font-bold">{title}</h1>
  <TagList tags={tags} />
  <LinkList links={links} />
  <Markdown>
    <br>
    <slot />
  </Markdown>
  <div class="flex justify-center py-10">
    <Button text="More Projects" link="/" />
  </div>
</Layout>
